.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 40px 0;
  text-align: center;
}

.title > p {
  font-size: 20px;
}

.title > span {
  font-weight: 700;
  font-size: 30px;
}

.all-properties {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  width: 100%;
  gap: 50px;
}

@media (max-width: 600px) {
  .all-properties {
    grid-template-columns: repeat(1, 90%);
    margin-bottom: 30px;
  }
}